<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> 条错误信息:</h2>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_for @user, :url => users_path do |f| %>

<%= render :partial => "form", locals: { f: f } %>

<%= f.submit "注册" %>

<% end %>
